<div class="my-3">
    <h5 [ngClass]="{'strike': !todo.active}">This is {{todo.title}}</h5>
    <p [ngClass]="{'strike': !todo.active}">This is {{todo.desc}}</p>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="checkbox{{i}}" (click)="onCheckboxClick(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="checkbox{{i}}">Done</label>
    </div>
    <button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
    <!-- <button class="btn btn-sm btn-warning" routerLink="/edit" (click)="onEdit(todo)">Edit</button> -->
</div>